<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule 20[0-9]{2} "https://culturea.cz" [R=301,L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ / [L,QSA]
</IfModule>
