<IfModule mod_rewrite.c>
  RewriteEngine On
  Redirect "/2012" "https://culturea.cz"
  Redirect "/2013" "https://culturea.cz"
  Redirect "/2014" "https://culturea.cz"
  Redirect "/2015" "https://culturea.cz"
  Redirect "/2016" "https://culturea.cz"
  Redirect "/2017" "https://culturea.cz"
  Redirect "/2018" "https://culturea.cz"
  Redirect "/2019" "https://culturea.cz"
  Redirect "/2020" "https://culturea.cz"
  Redirect "/2021" "https://culturea.cz"
  Redirect "/2022" "https://culturea.cz"
</IfModule>
