---
import BlogAuthWrapper from '../../components/blogs/auth/BlogAuthWrapper';
import BlogDetailItem from '../../components/blogs/BlogDetailItem';
import Section from '../../components/shared/Section';
import Layout from '../../layouts/Layout.astro';

const { id } = Astro.params;
---

<Layout title="Culturea 2023 - Detail blogu">
  <BlogAuthWrapper client:only>
    <Section sectionId="blog-detail" sectionName="Blogy - detail">
      {id && <BlogDetailItem client:only blogId={id} />}
    </Section>
  </BlogAuthWrapper>
</Layout>

<style></style>
